<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  th:lang="${#locale.language}">
	<head>
		<!-- title -->
		<title layout:title-pattern="$CONTENT_TITLE - $DECORATOR_TITLE">duck8823</title>

		<!-- Charset -->
		<meta charset="UTF-8" />

		<!-- contextPath -->
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		var app = {};
		app.CONTEXT_ROOT = /*[[${#httpServletRequest.contextPath}]]*/ '';
		/*]]>*/
		</script>

		<!-- CSRFトークン -->
		<meta name="_csrf" th:content="${_csrf.token}" />
		<meta name="_csrf_header" th:content="${_csrf.headerName}" />

		<!-- Mobile first -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

		<!-- jQuery CDN -->
		<script th:src="@{//code.jquery.com/jquery-1.11.3.min.js}"></script>
		
		<!-- Bootstrap CDN -->
		<script th:src="@{//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js}"></script>

		<!-- Bootstrap theme -->
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

		<!-- scripts -->
		<script th:src="@{/js/jquery.loader.js}" ></script>

		<!-- styles -->
		<link rel="stylesheet" th:href="@{/css/loader.css}" />
		<link rel="stylesheet" th:href="@{/css/common.css}" />
		<link rel="stylesheet" th:href="@{/css/sticky-footer.css}" />
		<link rel="stylesheet" th:href="@{/css/table.css}" />
	</head>
	<body>
		<!-- page loader -->
		<div id="loader">
			<div class="spinner">
				<div class="bounce1"></div>
				<div class="bounce2"></div>
				<div class="bounce3"></div>
			</div>
		</div>
		<div id="fade"></div>
		<header class="header" th:include="common/menu :: menu">
			<h1 th:text="#{application.title}">Demo App.</h1>
			<span class="locale">
				<a href="?lang=en" th:if="${#locale.language == 'ja'}">English</a>
				<a href="?lang=ja" th:if="${#locale.language == 'en'}">日本語</a>
			</span>
		</header>
		<section class="container-fluid">
			<div class="row">
				<div class="col-sm-2"></div>
				<div class="col-sm-8 main">
					<!-- main content -->
					<th:block layout:fragment="content">
						No content.
					</th:block>
					
				</div>
				<div class="col-sm-2"></div>
			</div>
		</section>
		<footer class="footer">
			<div class="container">
				Copyright (C)  2016  duck8823.com  All Rights Reserved.
			</div>
		</footer>
	</body>
</html>