<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="common/layout">
	  
	
	<head>
		<!-- title -->
		<title>ログイン</title>
		<!-- Charset -->
		<meta charset="UTF-8" />
	</head>
	
	<!-- content -->
	<th:block layout:fragment="content">
		<form method="post" enctype="multipart/form-data" th:action="@{/login/}">
			<h2>ログイン</h2>
			<input type="text" name="id" id="id" class="form-control" placeholder="メールアドレス" />
			<input type="password" name="password" id="password" class="form-control" placeholder="パスワード" />
			<!-- Submit Button -->
			<button type="submit" class="btn btn-primary">ログイン</button>
		</form>
	</th:block>
</html>