html {
	overflow-y: scroll;
}

img {
	border: 0;
	vertical-align: middle;
}
input {
	margin: 0  0 10px 0;
}
/** スマホ用のボタン */
.navbar-toggle .icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	background-color: #333333;
	border-radius: 1px;
}