<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="common/layout">

	<head>
		<title>Image gallery</title>
		<meta charset="UTF-8" />

		<link rel="stylesheet" th:href="@{//blueimp.github.io/Gallery/css/blueimp-gallery.min.css}" />
		<link rel="stylesheet" th:href="@{/css/bootstrap-image-gallery.min.css}" />
		<link rel="stylesheet" th:href="@{/css/justifiedGallery.min.css}" />
		<link rel="stylesheet" th:href="@{/css/gallery.css}" />

		<script th:src="@{/js/jquery.justifiedGallery.min.js}"></script>
		<script th:src="@{/js/jquery.gallery.js}" ></script>
	</head>

	<body>
		<!-- content -->
		<th:block layout:fragment="content">
			<h2>Image Gallery</h2>
			<br/>
			<div id="blueimp-gallery" class="blueimp-gallery" data-use-bootstrap-modal="false" >
				<!-- The container for the modal slides -->
				<div class="slides"></div>
				<!-- Controls for the borderless lightbox -->
				<h3 class="title"></h3>
				<a class="prev">‹</a>
				<a class="next">›</a>
				<a class="close">×</a>
				<a class="play-pause"></a>
				<ol class="indicator"></ol>
			</div>

			<div id="links">
				<a th:href="${media.mediaURL}" th:title="${#calendars.format(media.createAt,'yyyy.MM.dd')}" data-gallery="data-gallery" th:each="media : ${medias}">
					<img th:src="${media.mediaURL}" th:alt="${#calendars.format(media.createAt,'yyyy.MM.dd')}" title="" />
				</a>
			</div>

			<script th:src="@{//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js}"></script>
			<script th:src="@{/js/bootstrap-image-gallery.min.js}"></script>
		</th:block>
	</body>
</html>